<div>
    <%= render 'search/form' %>
</div>
<div>
    <h3>Browse</h3>
    <p><%= link_to 'Classes', browse_path(:courses) %></p>
    <p><%= link_to 'Majors', browse_path(:majors) %></p>
    <p><%= link_to 'Minors', browse_path(:minors) %></p>
    <p><%= link_to 'Immersions', browse_path(:immersions) %></p>
</div>